<div style="background: black; opacity: 0.6; color: white;">
 <h1>Having a Duff, eh?</h1>
 <audio autoplay loop>
  <source src="/duff.ogg" type="audio/ogg">
  Your browser is not Duff capable.
 </audio>
 <p>
  Duff beer for me, ...<br/>
  Duff beer for you, ...<br/>
  I'll have a Duff,<br/>
  You have one, too.<br/>
 </p>
</div>
