<div style="background: black; opacity: 0.6; color: white;">
 <h1>Welcome to the web presentation of the Duff Brewery</h1>
 <p style="font-width: bold;">
   <%= link_to 'Have a Duff!', '/having' %>
 </p>
</div>
